%header
  .container
    = t('hello')
%section
  .container{"ng-controller" => "myCommunity"}
    %p Start chat with your friends
    %div{:"ng-repeat" => "item in items"}
      %span {{item.id}}
      %span {{item.name}}
      %span{"ng-src" => '{{item.img}}'}
      %span {{item.message}}

