%header
  .container
    = t('hello')
%section
  .container{"ng-controller" => "myCommunity"}
    %p Start post messages for your friends
    %form.add-message-form{"ng-submit" => "addMessage()"}
      %input.form-input{"ng-model" => "newItem.newName", :placeholder => "Name", :type => "text", :required => ""}
      %input.form-input{"ng-model" => "newItem.newAva", :placeholder => "Enter link to your avatar", :type => "text", :required => ""}
      %textarea.form-input{"ng-model" => "newItem.newMes", :placeholder => "Message", :type => "text", :required => ""}
      %button{:type => "submit"} Post message
    .wrapper.clr
      %comment{"ng-repeat" => "item in items"}

