html, body {
  min-height: 100%;
  height: 100%;

}

body {
  font-family: Helvetica;
  background: #FFD073;
}

header {
  min-height: 100px;
  background: #BF8F30;
  width: 100%;
  line-height: 100px;
  font-size: 70px;
  text-align: center;
  color: #FFD073;
}

.container {
  max-width: $main-width;
  margin: 0 auto;
  overflow: hidden;

  p {
    margin-bottom: 10px;
  }
}

section {

  .container {
    @include box-sizing (border-box);
    background: #FFBF40;
    box-sizing: border-box;
    padding: 20px;
  }
}
