.add-message-form {

  margin-bottom: 10px;

  .form-input {
    display: block;
    width: 240px;
    border: none;
    overflow: hidden;
    padding-left: 10px;
    margin-bottom: 10px;
  }

  input {
    height: 30px;
    line-height: 30px;
  }

  textarea {
    resize: none;
    height: 100px;
    padding-top: 10px;
  }
}
